.toc {
  display: none;
}
// when width of container is 825px
@media screen and (min-width: 1245px) {
  .toc {
    position: fixed;
    width: calc(((100% - 825px) / 2) - 20px);
    left: 10px;
    display: block;
  }
}
